.Icon-contain-delete:hover {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
}
.Icon-container-delete:hover-check {
    position: relative;
    left: 12px;
}

.Icon-container-delete:hover-check--active {
    color: #4CAF50;
};

.Icon-container-delete:hover-delete {
    position: absolute;
    top: -24px;
    right: 0;
}
.Icon-container-delete:hover-delete:hover {
    transform: rotate(224deg); 
} 

.Icon-container-delete:hover-delete:hover {
    color: red;
}

.Icon-svg {
    height: 24px;
    width: 24px;
}

.Icon-container-check:hover .Icon-svg {
    fill: green;
}
.Icon-container-delete:hover .Icon-svg {
    fill: red;
}